@import url('https://fonts.google.apis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f9f0ec;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

header {
  position: absolue;
  top: 0;
  left: 0;
  width: 100;
  padding: 30px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index:100;
}

.logo {
  width: 30px;
  height: 30 px;
  margin-right: auto;
}

.navigation a{
  text-decoration: none;
  color: #070708;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.navigation a:hover {
  background: #070708;
  color: #ffff;
}

.container {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

.img {
  max-width: 100%;
  max-height:100%;
}

.opener {
  font-size: 70px;
}

.crop {
  height: 300px;
  width: 400px;
  overflow: hidden;
}
.crop img {
  height: auto;
  width: 400px;
}

.source {
  color: grey;
  pointer-events: none;
  margin-right: 10px;
}

.body-text {
  font-family: 'Poppins', sans-serif;
}

.customIndent {
  margin-left: 50px;
}


.container-contactbox {
  width: 80%;
  margin: 50px auto;
}

.contact-box {
  background: #ffff;
  display: flex;
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}

.container p {
  margin-bottom: 10px;

}

.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background: #9B9694;
  color: #ffff;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cccc;
  outline: none;
}

textarea {
  width: 100%;
  border: 1px solid #cccc;
  outline: none;
  padding: 10px;
}

label {
  margin-bottom: 6px;
  display: block;
  color: #9B9694;
}

button {
  background-color: #9B9694;
  width: 100px;
  border: none;
  outline: none;
  color:#070708;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(0,6,6,51);
  font-family: 'Poppins', sans-serif;
}

button:hover {
  background-color: #7c7474;
}

.contact-left h3{
  color: #9B9694;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-right h3{
  font-weight: 600;
  margin-bottom: 30px;
}

tr td:first-child {
  padding-right: 20px;
}

tr td {
  padding-right: 20px;
}

.description-container {
  padding-left: 50px;
}

.role {
  font-style: italic;
}

.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-container {
  text-align: left;
  width: 21.875rem;
  padding: 1rem;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

   
